.client-login-button {
  font-weight: bold;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.client-login-button:hover {
  background-color: #0057b35e;
  color: #ffffff;
}

.ctaDesktopText{
  color: black;
  background-color: white;
}
button, input[type="submit"] {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover, input[type="submit"]:hover {
  background-color: #0056b3;
}
.button1{
  background-color: white;
  text-align: center;
  color: black;
  font-weight:bolder;
}
.btn-sobre-nosotros{
background-color:rgb(12, 240, 15); ;
color: black;
font-weight: bold;
text-align: right;
}
.button-contacto{
padding: 10px;
margin: 10px;
}